/***************************/
/* FOOTER TABLET HOME PAGE */
/***************************/

@media (min-width: 30em) {
  /* Grid */
  footer {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 7, 1fr;
  }

  footer ul:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  footer ul:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 3;
  }

  footer ul:nth-of-type(3) {
    grid-area: 3 / 1 / 4 / 2;
  }

  footer ul:nth-of-type(4) {
    grid-area: 3 / 2 / 4 / 3;
  }

  footer > hr {
    grid-area: 4 / 1 / 5 / 3;
  }

  footer > p {
    grid-area: 5 / 1 / 6 / 2;
  }

  footer ul:nth-of-type(5) {
    grid-area: 5 / 2 / 6 / 3;
  }

  footer ul:nth-of-type(6) {
    grid-area: 6 / 1 / 7 / 3;
  }

  footer ul:nth-of-type(7) {
    grid-area: 7 / 1 / 8 / 3;
  }

  /* Locatie Nederland */
  footer ul:nth-of-type(4) {
    margin-top: 0;
    justify-content: end;
    align-items: end;
  }

  /* Social media icons */
  footer ul:nth-of-type(5) {
    justify-content: end;
  }
}
