/***************************/
/* FOOTER MOBILE HOME PAGE */
/***************************/

/* We staan voor je klaar */ 
footer {
    background-color: var(--secondary-color);
    padding: 2em 1em;
    width: 100vw;
}

footer ul:nth-of-type(1) li h3 {
    font-weight: 400;
    color: var(--primary-color);
}

footer ul:nth-of-type(1) li h5 {
    color: var(--primary-color);
    font-weight: 400;
    padding: 1em 0;
}

footer ul:nth-of-type(1) li:nth-of-type(4) {
    padding: 0.5em 0;
}

footer ul:nth-of-type(1) li a {
    color: var(--primary-color);
}

footer ul:nth-of-type(1) li a img {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

/* Footer navigatie */ 
footer ul:nth-of-type(2) {
    padding: 2em 0;
}

footer ul:nth-of-type(2) li {
    padding: 0.5em 0;
    list-style: none;
}

footer ul:nth-of-type(2) li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5em;
}

/* Certified Corporation */ 
footer ul:nth-of-type(3) li img {
    width: 4em;
    height: 8em;
}

footer ul:nth-of-type(3) li h3 {
    font-weight: 400;
    color: var(--primary-color);
}

/* Locatie Nederland */ 
footer ul:nth-of-type(4) {
    display: flex;
    margin-top: 3.5em;
}

footer ul:nth-of-type(4) li img {
    width: 1em;
    height: 1em;
}

footer ul:nth-of-type(4) li {
    list-style: none;
}

footer ul:nth-of-type(4) li a {
    color: var(--primary-color);
    padding-left: 0.4em;
}

/* Lijn */ 
footer > hr {
    margin: 2em 0;
}

/* Copyright */ 
footer > p {
    color: var(--primary-color); 
    margin-bottom: 2em;
}

/* Social media icons */ 
footer ul:nth-of-type(5) {
    display: flex;
}

footer ul:nth-of-type(5) li {
    list-style: none;
}

footer ul:nth-of-type(5) li a {
    padding-left: 0.4em;
}

footer ul:nth-of-type(5) li a img {
    width: 1em;
    height: 1em;
}

/* Betaalmethodes */ 
footer ul:nth-of-type(6) {
    display: flex;
    padding: 1em 0;
}

footer ul:nth-of-type(6) li {
    list-style: none;
}

footer ul:nth-of-type(6) li a {
    padding-left: 0.5em;
}

footer ul:nth-of-type(6) li a img {
    width: 2.4em;
    height: 1.8em;
    background-color: var(--primary-color); 
    border-radius: 0.4em;
}

/* Voorwaarden */ 
footer ul:nth-of-type(7) {
    display: flex;
    flex-flow: wrap;
}

footer ul:nth-of-type(7) li {
    list-style: none;
    padding-right: 1em;
}

footer ul:nth-of-type(7) li a {
   color: var(--primary-color); 
   font-size:  0.7em;
   text-decoration: none;
   text-transform: none;
   font-weight: 100;
}

