/*********/
/* MOBIEL */
/*********/

/* Header */ 
header {
    width: 100vw;
    display: grid;
    grid-template-rows: 1.8em 1fr 1fr;
    grid-template-columns: 3.5em 2fr 2fr;
    gap: 0px;
    height: 100%;
    background-color: var(--primary-color);
}

/* USP's bovenaan */ 
header > ul {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > ul li {
    list-style: none;
    font-size: 0.700em;
    font-weight: 100;
}

header > ul li a{
    color: var(--primary-color);
}

/* Hamburger menu */ 
header > button {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0.1em solid var(	--quaternary-color); 
}

/* Logo */ 
header > a {
    display: flex;
    height: 100%;
    align-items: center;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0.1em solid var(	--quaternary-color); 
}

/* Hamburger menu uit laten schuiven */ 
header nav:nth-of-type(1) {
    display: none;
}

/* Top navigatie (iconen) */ 
header nav:nth-of-type(2) {
    list-style: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0.1em solid var(	--quaternary-color); 
}

header nav:nth-of-type(2) ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

header nav:nth-of-type(2) li {
    list-style: none;
    padding: 0.5em
}

header nav:nth-of-type(2) button {
    list-style: none;
    background-color: var(--primary-color);
    border: none;
}

/* Bottom navigatie */ 
header nav:nth-of-type(3) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

header nav:nth-of-type(3) ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

header nav:nth-of-type(3) li {
    padding: 1em;
    list-style: none;
}

header nav:nth-of-type(3) li a {
    text-decoration: none;
    color: var(--secondary-color);
}
