/*********/
/* MOBIEL */
/*********/

/* h1 voor toegankelijkheid */ 
main h1 {
    display: none;
}

/* Titel in video */ 
main section:nth-of-type(1) h2 {
    display: none;
}

/* Video */ 
main section:nth-of-type(1) video {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    position: relative;
    margin-bottom:-1em;
}

main section:nth-of-type(1) button {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    top: 70%;
    left: 50%;
    padding: 1em 2em;
    border-radius: 1000em;
    border: none;
    background-color: var(--primary-color);
}

main section:nth-of-type(1) button a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Quote banner */ 
main section:nth-of-type(2) {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(2) h5 {
    color: var(--primary-color);
    padding: 4em;
    text-align: center;
    font-weight: 400;
}

main section:nth-of-type(2) h5 span {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    line-height: 1.2em;
}

/* Ontdek onze bestsellers */ 
main section:nth-of-type(3) h2 {
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

main section:nth-of-type(3) h2 span {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}