/**************************/
/* MAIN DESKTOP HOME PAGE */
/**************************/

@media (min-width: 58em) {
  /* Ontdek onze bestsellers */
  main section:nth-of-type(3) ul {
    width: inherit;
    margin: 0 6em;
  }

  main section:nth-of-type(3) ul li img {
    height: 16em;
  }

  /* Shop onze gift guide */
  main section:nth-of-type(4) h5 {
    padding-top: 8em;
    font-size: 1.5em;
  }

  main section:nth-of-type(4) h2 {
    font-size: 3em;
  }

  main section:nth-of-type(4) button {
    margin-bottom: 10em;
  }

  /* Nieuw */
  main section:nth-of-type(5) ul {
    height: 32em;
    margin-left: 6em;
  }

  main section:nth-of-type(5) ul li {
    width: 18em;
  }

  main section:nth-of-type(5) ul li img {
    height: 26em;
  }

  /* We zijn er om je te helpen */
  main section:nth-of-type(6) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 6em;
  }

  main section:nth-of-type(6) ul li {
    width: unset;
  }

  main section:nth-of-type(6) ul li img {
    height: 16em;
  }

  main section:nth-of-type(6) ul li:last-of-type {
    margin-right: 0;
  }

  /* Volg ons */
  main section:nth-of-type(7) ul {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 6em;
  }

  main section:nth-of-type(7) ul li:nth-of-type(4) {
    display: none;
  }

  /* Sections naast elkaar zetten */

  main section:nth-of-type(8) {
    float: right;
    width: 50%;
    padding: 5em 3em;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  main section:nth-of-type(9) {
    float: left;
    width: 50%;
    padding: 5em 3em;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}
