/************************/
/* MAIN TABLET HOME PAGE */
/************************/

@media (min-width: 30em) {

  /* Ontdek onze bestsellers */
  main section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 1em;
  }

  main section:nth-of-type(3) ul li {
    width: unset;
  }

  main section:nth-of-type(3) ul li img {
    height: 10em;
  }

  main section:nth-of-type(3) ul li:last-of-type {
    margin-right: 0;
  }

  /* Shop onze gift guide */
  main section:nth-of-type(4) {
    background-image: url("../images/gifting.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    align-items: center;
  }

  main section:nth-of-type(4) img {
    display: none;
  }

  main section:nth-of-type(4) h5 {
    width: 100vw;
    padding-top: 4em;
  }

  main section:nth-of-type(4) h2 {
    width: 100vw;
  }

  main section:nth-of-type(4) button {
    margin-bottom: 4em;
  }
  
  /* Onze winkels */ 
  main section:nth-of-type(8) img {
    max-width: 50%;
}

}
