/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  	box-sizing: border-box;  
}

button, summary {
  	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
}

/*********/
/* FONTS */
/*********/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font family */ 
h1, h2, h3, h4, h5, h6, p, ul ,li, a {
	font-family: 'Inter', sans-serif;
}

/* font sizes */ 
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.3em;
}

p {
	font-size: 0.700em;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* colors */
	--primary-color: white;
	--secondary-color: black;
	--tertiary-color: #001D7C;
	--quaternary-color: #E8E8E8;
}





