/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  	box-sizing: border-box;  
}

button, summary {
  	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

/* font-sizes */

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.3em;
}

p {
	font-size: 0.750em;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
	--primary-color: white;
	--secondary-color: black;
	--tertiary-color: #001D7C;
	--quaternary-color: #E8E8E8;
}

/****************/
/* MOBIEL */
/****************/

/* (mobiel) banner element bovenaan pagina */

header figure {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
	font-weight: 200;
	padding: 0.500em 0.250em;
}

header figure a {
	color: var(--primary-color);	
}

header nav:nth-of-type(1) {
	background-color: var(--primary-color);
	width: 100vw;
	display: flex;
	align-items: center;
	height: 5vh;
	justify-content: center;
	border-bottom: 0.08em solid lightgray;
}

.top-nav img:nth-of-type(1) {
	width: 2.5em;
	height: 0.8em;
	left: 0;
}

.top-nav img:nth-of-type(2) {
	width: 8em;
	height: 3em;
}

.top-nav {
	display: flex;
	align-items: center;
	height: 100%;
}

.bottom-nav {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.left-wrapper {
	width: 60vw;
}

.right-wrapper {
	width: 40vw;
}

.right-wrapper img {
	padding: 0.4em;
}

header nav:nth-of-type(2) {
	width: 100vw;
	display: flex;
	background-color: var(--primary-color);
	align-items: center;
	justify-content: center;
	border-bottom: 0.04em solid black;
}

header nav:nth-of-type(2) h4 {
	font-weight: 500;
	margin: 0 auto;
	padding: 0.8em;
}

header {
	position: relative;
}

header video {
	object-fit: cover;
	width: 100vw;
	height: 60vh;
}

header button {
	position: absolute;
	border-radius: 2000em;
	background-color: var(--primary-color);
	border: none;
	padding: 1.2em 3em;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section {
	background-color: var(--secondary-color);
	text-align: center;
}

section h4 {
	padding: 4em;
	font-weight: 200;
	color: var(--primary-color);
}




